

//colors
$black: #000;
$black2: #1b1a20;
$black3: #0c0b10;
$white: #fff;
$gray: #ccc;
$gray2: #999;
$gray3: #666;
$gray4: #4f4f51;
$orange: #dfbd00;

$blackDefault: #313135;

//fonts
$OpenSans: OpenSans;

//media-query
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 1025px;
$screen-lg: 1200px;

// products

$home-grid: 730px;
